@import url(normalize.css);
@import url(clearfix.css);
table.catcha {
  background-color: #3cb878;
  border-collapse: separate;
  border: 4px #3cb878 solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.catcha-row1_title, .catcha-row1_questionmark, .catcha-row1_location {
  display: table-cell; }
  .catcha-row1_title img, .catcha-row1_questionmark img, .catcha-row1_location img {
    display: table-cell; }

.catcha-row1_title {
  padding-left: 8px; }

.catcha-row1_location {
  text-align: right;
  float: right;
  padding-right: 8px; }

.catcha-row1_locationtext {
  line-height: 28px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
  max-width: 160px; }

.catcha-row1_locationimg {
  display: table-cell; }
  .catcha-row1_locationimg img {
    display: table-cell; }

.catcha-row2_left {
  background-color: white;
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: top; }
  .catcha-row2_left .captcha-text {
    line-height: 16px;
    font-size: 13px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 176px; }
  .catcha-row2_left .captcha-image {
    padding-top: 14px; }
  .catcha-row2_left .form-items {
    padding-top: 8px;
    vertical-align: baseline; }
  .catcha-row2_left .form-btn {
    display: inline-block;
    margin-top: 0px;
    vertical-align: middle; }
  .catcha-row2_left form {
    display: inline-block;
    vertical-align: middle; }
  .catcha-row2_left input {
    width: 143px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    padding: 0;
    padding-left: 7px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px; }
    .catcha-row2_left input:focus {
      border: 1px solid #3cb878; }
    .catcha-row2_left input::-webkit-input-placeholder {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #bbbbbb; }
    .catcha-row2_left input:-moz-placeholder {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #bbbbbb; }
    .catcha-row2_left input::-moz-placeholder {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #bbbbbb; }
    .catcha-row2_left input:-ms-input-placeholder {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #bbbbbb; }

.catcha-row2_divider {
  background-color: #aae3c6; }

.catcha-row2_right {
  background-color: white;
  padding-left: 7px;
  vertical-align: top; }
  .catcha-row2_right .cat-label {
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #bbbbbb;
    padding-top: 7px;
    line-height: 10px; }
  .catcha-row2_right .cat-name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 0;
    margin-top: 0;
    max-width: 92px; }
  .catcha-row2_right .cat-picture {
    width: 92px;
    height: 86px;
    padding-top: 2px; }
  .catcha-row2_right .cat-adopt {
    padding-top: 9px; }
